#featured-services {
    background: #000;
    .box {
      padding: 30px 20px;
    }
    .box-bg {
      background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
    }
    i {
      color: $markColor ;
      font-size: 25px;
      padding-bottom: 20px;
    }
    h4 a {
      text-decoration: none;
      color: $mainColor ;
      transition: all 0.3s;
    }
    h4 a:hover {
      color: $markColor ;
    }
    p {
      font-size: 14px;
      line-height: 24px;
      color: $mainColor ;
      margin-bottom: 0;
    }
  }
  